@import "tailwindcss";

*{
  font-family: Outfit;
}

@keyframes gradientMove {
  0% { background-position: 0% }
  100% { background-position: 200% }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradientMove 4s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

